{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/useroperation.css' %}"/>
</head>
<body>
    <div id="login">
        <h1>重置密码</h1>
        <form action="{% url 'users:change_pwd' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="请输入邮箱中获取的验证码" name="code">
            <input type="password" placeholder="请输入不少于6位密码" name="password">
            {{ form.password.errors }}
            <input type="password" placeholder="请确认您的密码" name="password1">
            {% if msg %}
                {{ msg }}
            {% endif %}
            <input class="btn btn-green" type="submit" value="重置密码" />
            <ul class="form-choice">
                <li class="item">已有账号？<a href="{% url 'users:login' %}">[立即登录]</a></li>
                <li class="item"><a href="{% url 'blog:index' %}">返回首页</a></li>
            </ul>
        </form>
    </div>
</body>
</html>